[Interface]
Address = {{ client_ip }}/24
PrivateKey = {{ final_private_key }}
DNS = {{ dns_server }}
MTU = 1280

# NAT MASQUERADE (Internet Sharing)
PostUp = iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE

[Peer]
PublicKey = {{ vpn_server_pubkey }}
Endpoint = {{ vpn_endpoint }}:{{ vpn_port }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25